body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #001780; }

h1 {
  font-size: 2em;
  margin-bottom: 0;
  color: whitesmoke;
  text-align: center; }

h2 {
  color: whitesmoke;
  text-align: center;
  margin: .5em auto;
  font-weight: 600; }

.container {
  width: auto;
  height: auto;
  padding: 5px; }
  .container .topContainer, .container .middleContainer, .container .bottomContainer {
    border-radius: 5px;
    margin: 10px;
    background-color: whitesmoke;
    display: block;
    text-align: center; }
  .container .bottomContainer {
    background-color: transparent; }

.l2container {
  width: auto;
  height: auto; }

.select-box, .game-mode-select-box, .game-end-select-box, .weapon-select-box-player2, .weapon-select-box-player1 {
  margin: 5px;
  padding: 5px;
  width: 150px;
  height: 150px;
  border: 5px solid black;
  display: inline-block; }

.game-mode-select-box {
  height: auto;
  padding: 35px;
  white-space: nowrap; }
  .game-mode-select-box:hover {
    border-color: whitesmoke; }
  .game-mode-select-box span {
    color: #080808; }

.gameControlViewContainer {
  display: none; }

.game-end-select-box {
  display: block;
  color: whitesmoke;
  border: none;
  height: auto;
  white-space: nowrap;
  width: 50%;
  margin: 0 auto; }
  .game-end-select-box span {
    line-height: 1em; }
  .game-end-select-box button {
    border: 3px solid transparent;
    font-size: 1em;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 5px;
    padding: 15px;
    border-radius: 7px; }
    .game-end-select-box button:hover {
      border-color: whitesmoke;
      background-color: transparent;
      color: whitesmoke; }

.weapon-select-box-player2 .rock, .weapon-select-box-player1 .rock {
  width: inherit;
  height: inherit;
  background-image: url("../img/hand-rock.svg");
  background-repeat: no-repeat; }
  .weapon-select-box-player2 .rock.selected, .weapon-select-box-player1 .rock.selected {
    background-image: url("../img/hand-rock-solid.svg");
    background-repeat: no-repeat; }

.weapon-select-box-player2 .paper, .weapon-select-box-player1 .paper {
  width: inherit;
  height: inherit;
  background-image: url("../img/hand-paper.svg");
  background-repeat: no-repeat; }
  .weapon-select-box-player2 .paper.selected, .weapon-select-box-player1 .paper.selected {
    background-image: url("../img/hand-paper-solid.svg");
    background-repeat: no-repeat; }

.weapon-select-box-player2 .scissors, .weapon-select-box-player1 .scissors {
  width: inherit;
  height: inherit;
  background-image: url("../img/hand-scissors.svg");
  background-repeat: no-repeat; }
  .weapon-select-box-player2 .scissors.selected, .weapon-select-box-player1 .scissors.selected {
    background-image: url("../img/hand-scissors-solid.svg");
    background-repeat: no-repeat; }

.weapon-select-box-player1:hover {
  border-color: whitesmoke; }
