@import 'icons';

$primaryColor: #234aac;
$whiteColor: #f5f5f5;
$selectColor: $whiteColor;
$blackColor: rgb(8, 8, 8);
$shadowColor: #222631;

@mixin title {
  color: $whiteColor;
  text-align: center;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: $primaryColor;
  text-align: center;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
  @include title();
}

h2 {
  @include title();
  margin: .5em auto;
  font-weight: 600;
}

.container {
  width: auto;
  height: auto;
  padding: 2vw;
  display: block;

  .topContainer {
    padding: 5vw;
    
    box-shadow: 
    0 nth(1.5 3 6 10 15, 2) * 1px nth(1 3 3 5 6, 2) * 4px $shadowColor, 
    0 nth(1.5 3 10 14 19, 2) * 1px nth(1.5 3 10 14 19, 2) * 4px $shadowColor;

    margin: 3vw;
    background-color: $whiteColor;
    text-align: center;
  }

  .middleContainer {
    @extend .topContainer;

    h3 {
      margin: 1.25vw auto;
    }
  }

  .bottomContainer {
    @extend .topContainer;
    background-color: transparent;
    box-shadow: none;
    padding: .5vw;
    margin: .5vw;
  }
}

.select-box {
  margin: .5vw;
  padding: 2vw;
  width: 10vw;
  height: 10vw;
  border-radius: .5vw;
  border: 6px solid black;
  display: inline-block;
}

.game-mode-select-box {
  @extend .select-box;
  display: inline-block;
  height: auto;
  padding: 1vw;
  width: 50%;
  margin: 1vw auto;

  span {
    color: $blackColor;
  }
}

#gameControlViewContainer {
  display: none;
}

.game-end-select-box {
  @extend .select-box;
  display: block;
  color: $whiteColor;
  border: none;
  height: auto;
  white-space: nowrap;
  width: auto;
  padding: auto;
  margin: auto;
  text-align: center;
  justify-content: center;

  span {
    line-height: 1em;
    font-size: 2em;

    &.small {
      font-size: 1.5em;
    }
  }

  button {
    border: 3px solid transparent;
    font-weight: bolder;
    text-transform: uppercase;
    background-color: $whiteColor;
    margin: 2vw auto;
    border-radius: 1vw;
    text-align: center;

    &.big {
      font-size: 2em;
      padding: 3vw;
    }

    &.small {
      font-size: 1em;
      padding: 2vw;
    }

    &:hover {
      border-color: $whiteColor;
      background-color: transparent;
      color: $whiteColor;
    }
  }
}

.weapon-select-box-player2 {
  @extend .select-box;

  @mixin innerWidth {
    width: inherit;
    height: inherit;
  }

  .rock {
    @include innerWidth();
    @include icon-hand-rock();

    &.selected {
      @include icon-hand-rock-select();
    }
  }

  .paper {
    @include innerWidth();
    @include icon-hand-paper();

    &.selected {
      @include icon-hand-paper-select();
    }
  }

  .scissors {
    @include innerWidth();
    @include icon-hand-scissors();

    &.selected {
      @include icon-hand-scissors-select();
    }
  }
}

.weapon-select-box-player1 {
  @extend .weapon-select-box-player2;
}
